.error {
    color: red;
    font-size: 12px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
}

form {
    max-width: 80vw;
    display: flex;
    flex-direction: column;
}